* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1f1f1 !important;
}

.navbar .buttons .login:hover {
    color: black !important;    
}


.modal .container {
    padding: 10px;
    background-image: url(../images/form-login.png);
    background-size: 36vw;
    background-repeat: no-repeat;
    background-position-x: -19px;
    background-position-y: -19px;
}

.modal .title {
    text-align: center;
    margin: 8vh 0 3vh 0;
    font-weight: 700;
    font-size: 40px;
}

.modal .input {
    width: 90%;
    background-color: #e7e7e7;
    border: none;
}

.modal .textarea {
    width: 26vw !important;
    padding: 8px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 3px;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal .form-group {
    margin-left: 2vw;
}

.modal .label {
    font-weight: 600;
    font-size: 17px;
}

.modal .button {
    display: flex;
    margin: auto !important;
    margin-top: 5vh !important;
    margin-left: 2vw !important;
    width: 84%;
    box-sizing: border-box;
    height: 8vh;
}

.modal .button h3 {
    text-align: center !important;
    margin: auto !important;
}

.modal p {
    margin: 3vh 0 5vh 0;
    color: #c2c2c2;
}

.modal p a {
    color: #b1b1b1;
    font-weight: 600;
}