.addTrip .navbar {
    background-image: url(../images/bg-beach.jpg);
    height: 15vh;
    margin-top: -15vh;
    position: relative;
    z-index: -1;
}

.addTrip .container {
    margin-top: 10vh;
}

.addTrip .container h1{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.addTrip .container .forms {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    width: 82vw !important;
    position: relative;
    float: right;
}

.addTrip .container .forms .txtLabel {
    font-weight: 700;
    margin-top: 2vh;
}

.addTrip .container .forms .txtInput {
    background-color: #d3d2d2;
}

.addTrip .container .forms .txtInput:focus {
    background-color: white;
}

.addTrip .container .forms .txtInput option:first {
    background-color: rgb(104, 8, 8);
}

.addTrip .container .forms h1 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 3vh;
}

.addTrip .container .forms .duration {
    display: flex;
    flex-direction: row;
    margin-top: -0.5vh;
}

.addTrip .container .forms .duration .day {
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
}

.addTrip .container .forms .duration .day .txtLabel{
    margin-top: 5px;
}

.addTrip .container .forms .duration .day .txtInput {
    margin-right: 2vw;
}

.addTrip .container .forms .duration .night {
    display: flex;
    flex-direction: row;
}

.addTrip .container .forms .duration .night .txtLabel{
    margin-top: 5px;
}

.addTrip .container .forms .duration .night .txtInput {
    margin-right: 2vw;
}

.addTrip .container .forms .txtArea {
    background-color: #d3d2d2;
    resize: none;
}

.addTrip .container .forms .txtArea:focus {
    background-color: white;
}

.addTrip .container .forms .txtFile {
    width: 20vw;
    color: #FFAF00;
    background-color: #d3d2d2;
}

.addTrip .container .forms .uploadImg {
    width: 14vw;
    font-size: 15px;
    font-weight: 700;
    color: #FFAF00;
    background-color: #d3d2d2;
    padding: 9px 0 0 7px;
    border: 1px solid #868686;
    border-radius: 5px;
}

.addTrip .container .forms .uploadImg .icon {
    width: 25px;
    margin-left: 5.4vw;
}

.addTrip .container .forms .uploadImg:hover{
    cursor: pointer;
}

.addTrip .container .forms .uploadBtn:hover{
    cursor: pointer;
}

.addTrip .container .forms .btn {
    color: white;
    background-color: #FFAF00;
    border: none;
    padding: 1vh 5vw;
    margin-top: 5vh;
    align-self: center;
}