/* jumbotron */
.jumbotron {
    background-image: url(../images/bg-beach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    margin-top: -14vh;
    box-sizing: border-box; 
}

.jumbotron .img-cover {
    background-image: url(../images/bg-beach-cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 64.8vh !important;
    margin-top: -52.5vh !important;
    box-sizing: border-box;
}

.jumbotron .container h1  {
    color: white;
    font-weight: 700;
    padding-top: 18vh;
    font-size: 50px;
    position: relative;
}

.jumbotron .container h2  {
    color: white;
    font-weight: 100;
    font-size: 50px;
}

.jumbotron .container label  {
    margin-top: 5vh;
    margin-bottom: 2vh;
    color: white;
}
/* ending jumbotron */

/* info-card */
.info-card {
    margin-top: -5vh;
    border-radius: 20px;
}

.info-card .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-card .card {
    width: 14vw !important; 
    text-align: center;
    padding: 20px 5px 10px 5px;
    box-sizing: border-box;
}

.info-card img {
    width: 70px;
    margin: auto;
}

.info-card .title {
    font-size: 17px;
    font-weight: 700;
    margin-top: -10px;
}

.info-card .desc {
    color: #878787;
    font-size: 14px;
}
/* ending info-card */

/* tour */
.tour {
    margin-top: 10vh;
    text-decoration: none !important;
}

.tour .cards {
    margin: 1vh auto 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between !important;
}

.tour .cards .card {
    width: 26.1vw;
    height: 53vh;
    box-sizing: border-box;
    margin: 5vh 1vw 0 1vw;
    border-radius: 10px;
    box-shadow: -19px -26px 400px -44px rgba(0,0,0,0.06);
}

.tour .cards .card .card-header {
    background-color: white;
    border: none;
    padding-top: 2vh;
    border-radius: 10px;
}

.tour .cards .card .card-img {
    width: 100%;
    height: 35vh;  
}

.tour .cards .card .img-tour {
    overflow: hidden;
    border: none;
    border-radius: 5px;
}

.tour .cards .card .img-tour .quota {
    background-color: white;
    width: 6vw;
    height: 6vh;
    padding: 10px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    position: absolute;
    z-index: 2;
    right: 0;
    margin-top: 1.8vh;
}

.tour .cards .card .img-tour .action {
    background-color: rgba(0, 0, 0, 0.432);
    position: absolute;
    z-index: 3;
    width: 23.9vw;
    height: 35.2vh;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10vh;
    opacity: 0;
}

.tour .cards .card .img-tour .action:hover {
    opacity: 1;
    transition: 0.3s;
}

.tour .cards .card .img-tour .action .btn-edit {
    background-color: #44ca10;
    font-weight: 700;
}

.tour .cards .card .img-tour .action .btn-delete {
    background-color: #e20303;
    font-weight: 700;
}

.tour .cards .card .img-tour .action .btn-edit:hover {
    background-color: #33ad02 !important;
}

.tour .cards .card .img-tour .action .btn-delete:hover {
    background-color: #b30202 !important;
}

.tour .cards .card .img-tour .action .btn {
    width: 15vw;
    margin: auto;
    position: relative;
}

.tour .cards .card .card-title {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: black;
    margin-bottom: 3vh;
}

.tour .cards .card .desc {
    display: flex;
    margin-bottom: -2vh;
    flex-direction: row;
    justify-content: space-between;
}

.tour .cards .card .desc .price {
    font-size: 17px;
    color: #ffaf00;
    font-weight: 600;
}

.tour .cards .card .desc .location {
    font-size: 17px;
    color: #969696;
    font-weight: 600;
}

.tour .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tour .header h1 {
    font-weight: 700;
    font-size: 30px;
}

.tour .header a {
    padding: 8.5px 40px;
    height: 6vh;
}

.tour .header a:hover {
    background-color: #f5a700 !important;
}
/* ending tour */